@tailwind base;
@tailwind components;
@tailwind utilities;


/* background gradient */
/* .backing{
    background: rgb(34,72,195);
background: linear-gradient(0deg, rgba(34,72,195,1) 0%, rgba(253,45,217,1) 100%);
} */

/* background image */
.bgimage{
    background-image: url('../images/movies.png');
}

.lessthan{
    min-height: 32rem;
}